.jd-twitter {
   width: 100%;
   margin: auto;
   font-family: Arial, Helvetica, sans-serif;
   padding: 0px;
   border-radius: 12px;
   background-color: #FFF;
   color: #333;
   overflow: auto;
}

.jd-twitter .twitter-article {
   width: 100%;
   border-top: 1px dotted #CCC;
   float: left;
   padding: 8px 0px 8px 0px;
}

.twitter-pic {
   float: left;
   padding-right: 10px;
}

.twitter-pic img {
   float: left;
   border-radius: 7px;
   border: none;
}

.twitter-text p {
   margin: 0px;
   line-height: 15px;
}

.twitter-text a,
h1 a {
   color: #00acee;
   text-decoration: none;
}

.twitter-text a:hover,
h1 a:hover {
   text-decoration: underline;
   color: #00acee;
}

.twitter-text {
   font-size: 11px;
}

.tweet-time {
   font-size: 10px;
   color: #878787;
   float: right;
}

.tweet-time a,
.tweet-time a:hover {
   color: #878787;
}

.tweetprofilelink a {
   color: #444;
}

.tweetprofilelink a:hover {
   color: #444;
}