$menu-divider: #ddd;

.astroid-header-section {
   header.astroid-header:not(.astroid-header-sticky) {
      padding: 0;
   }
   .astroid-header-sticky {
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);
      > div {
         padding-top: 0;
         padding-bottom: 0;
      }
   }
}

.astroid-header {
   ul.astroid-nav {
      li {
         border-right: 1px solid $menu-divider;
         margin: 0;
      }
   }
}

@include media-breakpoint-down(md) {
   .astroid-header-section {
      padding: 10px 0;
   }
}